{% extends "portfolio/base.html" %}

{% block content %}

<h2>Courses</h2>

{% if is_gestor %}
    <a href="{% url 'course_create' %}" class="create-btn">
        Criar nova formação
    </a>
{% endif %}

<section>
    {% for course in courses %}
        <article>
            <h3>{{ course.name }}</h3>

            <p><strong>Degree:</strong> {{ course.degree }}</p>
            <p><strong>ECTS:</strong> {{ course.total_ects }}</p>

            <p><strong>Subjects:</strong></p>
            <ul>
                {% for subject in course.subjects.all %}
                    <li>{{ subject.name }}</li>
                {% empty %}
                    <li>No subjects</li>
                {% endfor %}
            </ul>

             {% if is_gestor %}
                <a href="{% url 'course_edit' course.id %}" class="action-btn edit-btn">Editar</a>
                <a href="{% url 'course_delete' course.id %}" class="action-btn delete-btn">Apagar</a>
            {% endif %}

        </article>
    {% endfor %}
</section>

{% endblock %}