{% extends "portfolio/base.html" %}

{% block content %}

<div class="form-container">
    <h1>Estrutura de Navegação</h1>

    <ul>
        <li>Profile</li>
        <li>Projects
            <ul>
                <li>Criar Projeto</li>
                <li>Editar Projeto</li>
                <li>Apagar Projeto</li>
            </ul>
        </li>
        <li>Skills
            <ul>
                <li>Criar Competência</li>
                <li>Editar Competência</li>
                <li>Apagar Competência</li>
            </ul>
        </li>
        <li>Techs
            <ul>
                <li>Criar Tecnologia</li>
                <li>Editar Tecnologia</li>
                <li>Apagar Tecnologia</li>
            </ul>
        </li>
        <li>Courses
            <ul>
                <li>Criar Formação</li>
                <li>Editar Formação</li>
                <li>Apagar Formação</li>
            </ul>
        </li>
        <li>Making-Of</li>
        <li>GitHub</li>
    </ul>
</div>

{% endblock %}