{% extends "portfolio/base.html" %}

{% block content %}

<h2>Projects</h2>

<a href="{% url 'project_create' %}" class="create-btn">
    Criar novo projeto
</a>

<section>
    {% for project in projects %}
        <article>
            <h3>{{ project.title }}</h3>

            {% if project.image %}
                <img src="{{ project.image.url }}" width="200">
            {% endif %}

            <p>{{ project.description }}</p>

            <p><strong>Subject:</strong> {{ project.subject.name }}</p>

            <p><strong>Techs:</strong>
                {% for tech in project.techs.all %}
                    {{ tech.name }}
                {% empty %}
                    none
                {% endfor %}
            </p>

            <a href="{% url 'project_edit' project.id %}" class="action-btn edit-btn">
                Editar
            </a>

            <a href="{% url 'project_delete' project.id %}" class="action-btn delete-btn">
                Apagar
            </a>

        </article>
    {% endfor %}
</section>

{% endblock %}