{% extends "portfolio/base.html" %}

{% block content %}

<h2>Technologies</h2>

{% if is_gestor %}
    <a href="{% url 'tech_create' %}" class="create-btn">
        Criar nova tecnologia
    </a>
{% endif %}

<section>
    {% for tech in techs %}
        <article>
            <h3>{{ tech.name }}</h3>

            {% if tech.logo %}
                <img src="{{ tech.logo.url }}" width="100">
            {% endif %}

            <p>{{ tech.description }}</p>

            {% if tech.website %}
                <a href="{{ tech.website }}">Website</a>
            {% endif %}

             {% if is_gestor %}
                <a href="{% url 'tech_edit' tech.id %}" class="action-btn edit-btn">Editar</a>
                <a href="{% url 'tech_delete' tech.id %}" class="action-btn delete-btn">Apagar</a>
            {% endif %}
        </article>
    {% endfor %}
</section>

{% endblock %}